fastapi==0.95.2
uvicorn[standard]==0.22.0

pydantic==1.10.15

python-multipart==0.0.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.0

motor==3.1.2
pymongo==4.3.3

pyrogram==2.0.106
TgCrypto==1.2.5

httpx==0.24.1
websockets==11.0.3

aiofiles==23.1.0
Pillow==9.5.0
